 @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor 
@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("username");
}
 
 
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Super Admin Panel</title>
    <!-- plugins:css -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Load first -->

<link href="~/css/datatablecss/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/template2/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/template2/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template2/vendors/css/vendor.bundle.addons.css">

	@* <link href="~/css/datatablecss/datatables.css" rel="stylesheet" />
	<link href="~/css/datatablecss/datatables.min.css" rel="stylesheet" /> *@

    


    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/template2/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="http://www.urbanui.com/" />

    <!-- Add this in your <head> if not already included -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">


     <style>
        .icon-spacing {
            margin-right: 0.5rem; /* or any value you like */
        }

        .nav-link1,.nav-link2 {
            color: red !important;
            font-size: 13px;
            font-weight: bold;
            font-family: Arial, sans-serif;
        }

        .navbar-nav {
            display: flex;
            flex-direction: column;
        }


    </style> 

</head>

<body>
    

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">

                <a class="navbar-brand brand-logo" href="index-2.html">
                    <img src="~/template2/images/logo.svg" alt="logo" style="height: 150px; width: 100px;" />
                </a>


               @*  <a class="navbar-brand brand-logo" href="index-2.html"><img src="~/template2/images/logo.svg" alt="logo" /></a> *@
                <a class="navbar-brand brand-logo-mini" href="index-2.html"><img src="~/template2/images/logo.svg" alt="logo" style="height: 150px;" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="fas fa-bars"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item nav-search d-none d-md-flex">
                        <div class="nav-link">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                            </div>
                        </div>
                    </li>
                </ul>



                <ul class="navbar-nav navbar-nav-right">
                    @* <li class="nav-item d-none d-lg-flex">
                        <a class="nav-link" href="#">
                            <span class="btn btn-primary">+ Create new</span>
                        </a>
                    </li> *@

                  @*   <ul class="navbar-nav" style="display: flex; flex-direction: column;">
                        <li class="nav-item">
                            <a class="nav-link2" asp-controller="Partner" asp-action="Member_Register">Partner Registration</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link1" asp-controller="Service" asp-action="ServiceProvider">Become Service Provider</a>
                        </li>
                    </ul>
 *@

                    <li class="nav-item dropdown d-none d-lg-flex">
                        <div class="nav-link">
                            <span class="dropdown-toggle btn btn-outline-dark" id="languageDropdown" data-toggle="dropdown">English</span>
                            <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                                <a class="dropdown-item font-weight-medium" href="#">
                                    French
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item font-weight-medium" href="#">
                                    Espanol
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item font-weight-medium" href="#">
                                    Latin
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item font-weight-medium" href="#">
                                    Arabic
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="fas fa-bell mx-0"></i>
                            <span class="count">16</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 16 new notifications
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-danger">
                                        <i class="fas fa-exclamation-circle mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium">Application Error</h6>
                                    <p class="font-weight-light small-text">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="fas fa-wrench mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium">Settings</h6>
                                    <p class="font-weight-light small-text">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="far fa-envelope mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium">New user registration</h6>
                                    <p class="font-weight-light small-text">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-envelope mx-0"></i>
                            <span class="count">25</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <div class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 7 unread mails
                                </p>
                                <span class="badge badge-info badge-pill float-right">View all</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/template2/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium">
                                        David Grey
                                        <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/template2/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/template2/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium">
                                        Johnson
                                        <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/template2/images/faces/face5.jpg" alt="profile" />
                        </a>

                         <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="fas fa-cog text-primary"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>

                          

                            <form action="/Admin/Admin/Logout" method="post" class="d-inline">
                                <input name="__RequestVerificationToken" type="hidden" value="Antiforgery.GetTokens(HttpContext).RequestToken" />
                                <button type="submit" class="dropdown-item btn btn-link text-start" onclick="return confirm('Are you sure you want to logout?');">
                                    <i class="fas fa-power-off text-primary"></i> Logout
                                </button>
                            </form>
                        </div> 
 
                       



                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="fas fa-bars"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="fas fa-fill-drip"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close fa fa-times"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles primary"></div>
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close fa fa-times"></i>
                <ul class="nav nav-tabs" id="setting-panel" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
                    </li>
                </ul>
                <div class="tab-content" id="setting-content">
                    <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
                        <div class="add-items d-flex px-3 mb-0">
                            <form class="form w-100">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task-todo">Add</button>
                                </div>
                            </form>
                        </div>
                        <div class="list-wrapper px-3">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Team review meeting at 3.00 PM
                                        </label>
                                    </div>
                                    <i class="remove fa fa-times-circle"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Prepare for presentation
                                        </label>
                                    </div>
                                    <i class="remove fa fa-times-circle"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Resolve all the low priority tickets due today
                                        </label>
                                    </div>
                                    <i class="remove fa fa-times-circle"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Schedule meeting for next week
                                        </label>
                                    </div>
                                    <i class="remove fa fa-times-circle"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Project review
                                        </label>
                                    </div>
                                    <i class="remove fa fa-times-circle"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="events py-4 border-bottom px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="fa fa-times-circle text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                            <p class="text-gray mb-0">build a js based app</p>
                        </div>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="fa fa-times-circle text-primary mr-2"></i>
                                <span>Feb 7 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                            <p class="text-gray mb-0 ">Call Sarah Graves</p>
                        </div>
                    </div>
                    <!-- To do section tab ends -->
                    <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
                        </div>
                        <ul class="chat-list">
                            <li class="list active">
                                <div class="profile"><img src="~/template2/images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Thomas Douglas</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">19 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/template2/images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                                <div class="info">
                                    <div class="wrapper d-flex">
                                        <p>Catherine</p>
                                    </div>
                                    <p>Away</p>
                                </div>
                                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                                <small class="text-muted my-auto">23 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/template2/images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Daniel Russell</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">14 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/template2/images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                                <div class="info">
                                    <p>James Richardson</p>
                                    <p>Away</p>
                                </div>
                                <small class="text-muted my-auto">2 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/template2/images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Madeline Kennedy</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">5 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/template2/images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Sarah Graves</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">47 min</small>
                            </li>
                        </ul>
                    </div>
                    <!-- chat tab ends -->
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="profile-image">
                                <img src="~/template2/images/faces/face5.jpg" alt="image" />
                            </div>
                            <div class="profile-name">
                                <p class="name">
                                     Welcome @username 
                                </p>
                                <p class="designation">
                                    Super Admin Login
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Admin")">
                            <i class="fa fa-home menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    <!--Dropdown for  Manager -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@ <!-- Changed icon -->
                            <i class="fas fa-user-tie menu-icon"></i>
                            <span class="menu-title">Manager</span>
                             <i class="menu-arrow"></i> 
                        </a>
                        <div class="collapse" id="page-layouts">
                            <ul class="nav flex-column sub-menu fs-5">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("CreateManager", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-user-plus icon-spacing fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>Create Manager</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagerKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-id-card-alt icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Manager KYC</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>


                   

                    <!--Dropdown for  Partner -->

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layout" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i>  *@<!-- Changed icon -->
                            <i class="fas fa-handshake menu-icon"></i>
                            <span class="menu-title">Partner</span>
                            
                            <i class="menu-arrow"></i> 
                        </a>
                        <div class="collapse" id="page-layout">
                            <ul class="nav flex-column sub-menu fs-5">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("PartnerList", "Admin")">
                                        <i class="fas fa-user-plus icon-spacing fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>Partner List</span>
                                    </a>
                                </li>

                                   <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("KYCList", "Admin")">
                                        <i class="fas fa-id-card-alt icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Partner KYC</span>
                                    </a>
                                </li>  

                            </ul>
                        </div>
                    </li>


                      <!--Dropdown for  Company ->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layout1" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@
                            <i class="fas fa-building menu-icon"></i>
                            <span class="menu-title">Company</span>
                            
                            <i class="menu-arrow"></i> 
                        </a>
                        <div class="collapse" id="page-layout1">
                            <ul class="nav flex-column sub-menu fs-5">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("CreateCompany", "Company")">
                                        <i class="fas fa-user-plus icon-spacing fs-5 me-2"></i>
                                        <span>Create Company</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("CompanyListPage", "Company")">
                                        <i class="fas fa-user-shield icon-spacing fs-5 me-2"></i>
                                        <span>Company List</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Dropdown for  Branch -->

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layout2" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@
                            <i class="fas fa-code-branch menu-icon"></i>
                            <span class="menu-title">Branch</span>
                           
                            <i class="menu-arrow"></i> 
                        </a>
                        <div class="collapse" id="page-layout2">
                            <ul class="nav flex-column sub-menu fs-5">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("CreateBranch", "Branch" /* new { area = "" } */)">
                                        <i class="fas fa-user-plus icon-spacing fs-5 me-2"></i>
                                        <span>Create Branch</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("BranchListPage", "Branch")">
                                        <i class="fas fa-user-shield icon-spacing fs-5 me-2"></i>
                                        <span>Branch List</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!--Dropdown for  Service Provider -->

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layout3" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@
                            <i class="fas fa-user menu-icon"></i>
                            <span class="menu-title">Service Provider</span>

                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="page-layout3">
                            <ul class="nav flex-column sub-menu fs-5">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ServiceProviderList", "ServiceProvider", new { area = "" } )">
                                        <i class="fas fa-user-plus icon-spacing fs-5 me-2"></i>
                                        <span>Service Provider List</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ServiceProviderKYCList", "Admin" )">
                                        <i class="fas fa-id-card-alt icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Service Provider KYC</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>



                    <!--Dropdown for  Wallet -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layouts4" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@ <!-- Changed icon -->
                            <i class="fas fa-wallet  menu-icon"></i>
                            <span class="menu-title">Wallet</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="page-layouts4">
                            <ul class="nav flex-column sub-menu fs-5">

                                <!-- Commission -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("PartnerKYCList", "Manager")">
                                        @* <i class="fas fa-user-plus icon-spacing fs-5"></i> *@
                                        <i class="fas fa-coins icon-spacing me-4 fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>Commission</span>
                                    </a>
                                </li>

                                <!-- Wallet History -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagerKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-history icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Wallet History</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!--Dropdown for  Transactions -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layouts5" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@ <!-- Changed icon -->
                            <i class="fas fa-wallet menu-icon"></i>
                            <span class="menu-title">Transactions</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="page-layouts5">
                            <ul class="nav flex-column sub-menu fs-5">

                                <!-- Withdrawals -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("PartnerKYCList", "Manager")">
                                        @* <i class="fas fa-user-plus icon-spacing fs-5"></i> *@
                                        <i class="fas fa-money-check-alt icon-spacing me-4 fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>Withdrawals</span>
                                    </a>
                                </li>

                                <!-- Transfer Funds -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagerKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-exchange-alt icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Transfer Funds</span>
                                    </a>
                                </li>

                                <!-- Payouts -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagerKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-hand-holding-usd icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Payouts</span>
                                    </a>
                                </li>

                                <!-- Account Transfer -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagerKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-university icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">Account Transfer</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>


                    <!--Dropdown for  Support -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layouts6" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@ <!-- Changed icon -->
                            <i class="fas fa-headset menu-icon"></i>
                            <span class="menu-title">Support</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="page-layouts6">
                            <ul class="nav flex-column sub-menu fs-5">

                                <!-- Raise Ticket -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("PartnerKYCList", "Manager")">
                                        @* <i class="fas fa-user-plus icon-spacing fs-5"></i> *@
                                        <i class="fas fa-ticket-alt icon-spacing me-4 fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>Raise Ticket</span>
                                    </a>
                                </li>

                                <!--  View My Tickets -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagersKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-envelope-open-text icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">My Tickets</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!--Dropdown for  Reports -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layouts7" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@ <!-- Changed icon -->
                            <i class="fas fa-chart-bar menu-icon"></i>
                            <span class="menu-title">Reports</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="page-layouts7">
                            <ul class="nav flex-column sub-menu fs-5">

                                <!-- Commission -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("PartnerKYCList", "Manager")">
                                        @* <i class="fas fa-user-plus icon-spacing fs-5"></i> *@
                                        <i class="fas fa-file-alt me-3 fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>KYC Summary</span>
                                    </a>
                                </li>

                                <!--  View My Tickets -->
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ManagerKYCList", "Admin", new { area = "Admin" })">
                                        <i class="fas fa-users me-3 fs-5"></i>
                                        <span class="fw-semibold">Monthly Partners</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!--Dropdown for  Certification -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#page-layouts8" aria-expanded="false" aria-controls="page-layouts">
                            @* <i class="fas fa-user menu-icon"></i> *@ <!-- Changed icon -->
                            <i class="fas fa-certificate menu-icon"></i>
                            <span class="menu-title">Certification</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="page-layouts8">
                            <ul class="nav flex-column sub-menu fs-5">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("CreateCertificate", "Certificate", new { area = "Admin" })">
                                        <i class="fas fa-certificate icon-spacing fs-5"></i>
                                        <!-- Increased to me-4 -->
                                        <span>Create Certificate</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href="@Url.Action("ShowCertificates", "Certificate", new { area = "Admin" })">
                                        <i class="fas fa-certificate icon-spacing me-4 fs-5"></i>
                                        <span class="fw-semibold">List of Certificates</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <form action="/Admin/Admin/Logout" method="post" class="d-inline w-100">
                            <button type="submit"
                                    class="nav-link d-flex align-items-center btn btn-link text-start w-100"
                                    style="text-decoration: none; padding: 0.7rem 2rem;">
                                <i class="fas fa-sign-out-alt menu-icon me-4"></i>
                                <span class="menu-title fw-semibold">Logout</span>
                            </button>
                        </form>
                    </li>


                 </ul>
              </nav>

            <div class="main-panel">
                <div class="content-wrapper">

                    <div>
                        @RenderBody()


                        @RenderSection("scripts", required: false)
                    </div>
 
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-flex justify-content-center">  
                        <span class="text-muted text-center">Copyright © 2018. All rights reserved.</span>
                    </div>

                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/template2/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template2/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/template2/js/off-canvas.js"></script>
    <script src="~/template2/js/hoverable-collapse.js"></script>
    <script src="~/template2/js/misc.js"></script>
    <script src="~/template2/js/settings.js"></script>
    <script src="~/template2/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/template2/js/dashboard.js"></script>
    <script src="~/template2/js/data-table.js"></script>

	<script src="~/datatable/datatables.js"></script>
	<script src="~/datatable/datatables.min.js"></script>


    <!-- Custom js for this page-->
    <script src="~/template2/js/alerts.js"></script>
    <script src="~/template2/js/avgrund.js"></script>
    <!-- End custom js for this page-->

   



</body>
</html>
